<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Tiger
  link(href="index.css", rel="stylesheet")
body
  .tiger
    .tiger-head
      .tiger-head-copy
      .tiger-left-eye
        .inner-eye
      .tiger-left-eyebrows
      .tiger-right-eye
        .inner-eye
      .tiger-right-eyebrows
      .tiger-mouth
        .tiger-tooth
        .tiger-upper-lip
        .tiger-mid-stride
        .tiger-up-stride
      .tiger-left-ear
        .inner-ear
      .tiger-right-ear
        .inner-ear
      .tiger-needles-1
      .tiger-needles-2
      .tiger-needles-3
      .tiger-needles-4
      .tiger-needles-5
      .tiger-needles-6
      .tiger-needles-7
      .tiger-needles-8
      .tiger-needles-9
      