<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Beaver
  link(href="beaver.css", rel="stylesheet")
body
  .beaver
    .beaver-head
      .beaver-head-copy
      <!-- EYES -->
      .beaver-left-eye
        .inner-eye
      .beaver-right-eye
        .inner-eye
      <!-- EARS -->
      .beaver-left-ear
      .beaver-right-ear
      <!-- NOSE -->
      .beaver-nose
      <!-- CHEEKS -->
      .beaver-left-cheek
      .beaver-right-cheek
      <!-- TEETH -->
      .beaver-left-tooth
      .beaver-right-tooth
      