<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Elephant
  link(href="elephant.css", rel="stylesheet")
body
  .elephant
    .elephant-head
      .elephant-head-copy
      <!-- EYE -->
      .elephant-left-eye
        .elephant-inner-eye
          .inner-inner-eye
      .elephant-right-eye
        .elephant-inner-eye
          .inner-inner-eye
        <!-- EAR -->
      .elephant-right-ear
        .elephant-inner-ear
      .elephant-left-ear
        .elephant-inner-ear
        <!-- TRUNK -->
      .elephant-trunk
        .trunk-1
        .trunk-2
        .trunk-3
        .trunk-4
        .trunk-5
        .elephant-trunk-right
        .elephant-trunk-up
